<!doctype html>
<head>
  <meta charset="utf-8">
  <title>WebTiger Extension</title>
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
  <script type="text/javascript" src="static/jquery.min.js"></script> <!--src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"-->
  <script src="static/javascript.js"></script>
</head>

<script type="text/javascript">
  $(document).ready(function() {
    document.forms['nextPage'].elements["quaisCheckboxes"].value= document.getElementById("passCheckboxes").value;
    document.forms['previousPage'].elements["quaisCheckboxes"].value= document.getElementById("passCheckboxes").value;
    document.forms['firstPage'].elements["quaisCheckboxes"].value= document.getElementById("passCheckboxes").value;
    document.forms['lastPage'].elements["quaisCheckboxes"].value= document.getElementById("passCheckboxes").value;
    document.getElementById("quaisCheckboxes").value= document.getElementById("passCheckboxes").value;

    var vetor='';
    if (document.getElementById("passCheckboxes").value !='')
      vetor= (document.getElementById("passCheckboxes").value).split(" ");
    console.log ('COMPARA VETOR:',vetor, ' COM: ');

    // marcando os checkboxes de paginas anteriores

    for (i=0; i<document.getElementsByName('checkbox').length; i++) {
        if ( (vetor).includes (document.getElementsByName('checkbox')[i].value) )
          document.getElementsByName('checkbox')[i].checked = 'checked';
          console.log(document.getElementsByName('checkbox')[i].value); 
        }

    //marcando checkbox de "todos"    
    var flag= false;    
    for (i=0; i<document.getElementsByName('checkbox').length; i++)
      if (! ( (document.getElementsByName('checkbox')[i]).checked ) ){
        flag=true;
        break;
      }

    if (flag == false)  
      document.getElementById('checkboxParcial').checked = true;

    //console.log('finalNextPage:'+document.forms['nextPage'].elements["quaisCheckboxes"].value);

    if (document.getElementById("passWORDhidden").value=='checked') {
      document.forms['nextPage'].elements["WORDhidden"].value= 'checked';
      document.forms['previousPage'].elements["WORDhidden"].value= 'checked';
      document.forms['firstPage'].elements["WORDhidden"].value= 'checked';
      document.forms['lastPage'].elements["WORDhidden"].value= 'checked';
      document.getElementById("WORD").checked=true;
    }
     if (document.getElementById("passPDFhidden").value=='checked') {
      document.forms['nextPage'].elements["PDFhidden"].value= 'checked';
      document.forms['previousPage'].elements["PDFhidden"].value= 'checked';
      document.forms['firstPage'].elements["PDFhidden"].value= 'checked';
      document.forms['lastPage'].elements["PDFhidden"].value= 'checked';
      document.getElementById("PDF").checked=true;
    }

    if (document.getElementById("passCheckBoxTotal").value=='checked') {
      document.forms['nextPage'].elements["checkBoxTotalHidden"].value= 'checked';
      document.forms['previousPage'].elements["checkBoxTotalHidden"].value= 'checked';
      document.forms['firstPage'].elements["checkBoxTotalHidden"].value= 'checked';
      document.forms['lastPage'].elements["checkBoxTotalHidden"].value= 'checked';
      document.getElementById("checkboxTotal").checked=true;
    }

});

</script>

<body>
  <section class="container">
    <div class="layout">

    <div>
      <img src="static/favicon.ico"><h2>WebTiger Downloads</h2> 
      <form action='/webtiger/downloads' style='float:right;'> <!-- /webtiger/downloads -->
        <button id="sair" type="submit" onclick="window.stop();">Sair</button> 
      </form>
      <form action='/webtiger/downloads/voltarPagina' style='float:right; padding-right:10px'>  <!--/webtiger/downloads/voltarPagina -->
        <button type='submit' onclick='window.stop()'>Voltar Pesquisa</button>
      </form>  
    </div>
  
    {% if lenght < 1 %}
       <table>
            <tr> 
              <td><b> Não existem registros dessa busca </b></td>
            </tr>
        </table>
    {% else: %} 

      <table id="cabecalho">
            <tr> 
                <td id ='identificador'><input id='checkboxParcial' type="checkbox" title='Seleciona todos os registros da página corrente' onchange='qtoCheckboxesChecked(this);'></td>
                <td style='text-align: center'> 
                  <div id='totalReg'>
                      <b>Total de Registros: {{lenght}}</b><br/>
                      <input id='checkboxTotal' type="checkbox" title='Seleciona todos os registros de todas as páginas' onchange="checkboxTotalAction(this)"> Selecione todos os registros
                       <div id="littleLoading" style='display: none'>
                          <img src= '{{ url_for("static", filename="loading-icon.gif") }}' class="modal-content2"/>
                      </div>   
                  </div>
                    <div id = 'controles'>
                      
                    <input type='hidden' id='passCheckboxes' value="{{quaisCheckboxes}}"/>   
                    <input type='hidden' id='passWORDhidden' value="{{WORD}}"/> 
                    <input type='hidden' id='passPDFhidden' value="{{PDF}}"/> 
                    <input type='hidden' id='passCheckBoxTotal' value='{{checkboxTotal}}'/>  

                    <form id='firstPage' action='firstLastPage' method='POST'> 
                          <input type='hidden' name='lenght' value="{{lenght}}"/>
                          <input type='hidden' name='start' value="0"/>
                          <input type='hidden' name='end' value="{{QueriesPerPage}}"/>
                          <input type='hidden' name='rawQuery' value="{{rawQuery|safe}}"/>
                          <input type='hidden' name='NameDir' value="{{NameDir|safe}}"/> 
                          <input type='hidden' name='comFotos' value="{{fotos}}"/>
                          <input type='hidden' name='browser' value="{{browser}}"/> 

                          <input type='hidden' name='checkBoxTotalHidden' value=''/>  

                          <input type='hidden' name='WORDhidden' value=''/> 
                          <input type='hidden' name='PDFhidden' value=''/>

                          <input type='hidden' name='quaisCheckboxes' value=''/> 

                          {% if (start|int()) > 0 %}  
                            <button name='firstPageButton' type='submit' onclick='window.stop()'> << </button>
                          {% endif %}
                     </form>       

                          <form id='previousPage' action='previousPage' method='POST'> 
                            <input type='hidden' name='lenght' value="{{lenght}}"/> 
                            <input type='hidden' name='start' value="{{start}}"/> 
                            <input type='hidden' name='end' value="{{end}}"/>
                            <input type='hidden' name='rawQuery' value="{{rawQuery|safe}}"/> 
                            <input type='hidden' name='NameDir' value="{{NameDir|safe}}"/>
                            <input type='hidden' name='comFotos' value="{{fotos}}"/>
                            <input type='hidden' name='browser' value="{{browser}}"/> 
                            <input type='hidden' name='checkBoxTotalHidden' value=''/>   

                            <input type='hidden' name='WORDhidden' value=''/> 
                            <input type='hidden' name='PDFhidden' value=''/>

                            <input type='hidden' name='quaisCheckboxes' value=''/> 

                            {% if (start|int()) > 0 %} 
                              <button name='previousPageButton' type='submit' onclick='window.stop()'> < </button>
                            {% endif %}
                          </form>
                    
                      <div id='pagination'><b> Página 
                       {% if (end|int()) % QueriesPerPage ==0 %}
                         {{ ( (end|int()) / QueriesPerPage )|int() }} 
                       {% else: %}
                         {{ ( (end|int()) / QueriesPerPage )|int() +1 }} 
                       {% endif %}

                       de

                      {% if QueriesPerPage >=  lenght %} 
                            1    
                      {% else: %}
                           {% if (lenght|int()) % QueriesPerPage ==0   %} 
                              {{ ( (lenght|int()) / QueriesPerPage )|int() }} 
                           {% else: %}
                              {{ ( ( (lenght|int()) / QueriesPerPage )|int() ) +1 }}
                           {% endif %}     
                      {% endif %}    
                      </b></div>

               <form id='nextPage' action='nextPage' method='POST'> 
                  <input type='hidden' name='lenght' value="{{lenght}}"/>
                  <input type='hidden' name='start' value="{{start}}"/>
                  <input type='hidden' name='end' value="{{end}}"/>
                  <input type='hidden' name='rawQuery' value="{{rawQuery|safe}}"/>
                  <input type='hidden' name='NameDir' value="{{NameDir|safe}}"/>
                  <input type='hidden' name='comFotos' value="{{fotos}}"/> 
                  <input type='hidden' name='browser' value="{{browser}}"/> 
                  <input type='hidden' name='checkBoxTotalHidden' value=''/> 

                  <input type='hidden' name='WORDhidden' value=''/> 
                  <input type='hidden' name='PDFhidden' value=''/>  

                  <input type='hidden' name='quaisCheckboxes' value=''/> 

                  {% if (end|int()) < (lenght|int()) %}
                    <button name='nextPageButton' type='submit' onclick='window.stop()'> > </button>
                  {% endif %}   
               </form>

               <form id='lastPage' action='firstLastPage' method='POST'> 
                          <input type='hidden' name='lenght' value="{{lenght}}"/>
                          <input type='hidden' name='start' value="{{ (  (lenght|int()) - ( (lenght|int()) % QueriesPerPage)   ) |int() }}"/> 
                          <input type='hidden' name='end' value="{{lenght}}"/>
                          <input type='hidden' name='rawQuery' value="{{rawQuery|safe}}"/>
                          <input type='hidden' name='NameDir' value="{{NameDir|safe}}"/> 
                          <input type='hidden' name='comFotos' value="{{fotos}}"/>
                          <input type='hidden' name='browser' value="{{browser}}"/> 
                          <input type='hidden' name='checkBoxTotalHidden' value=''/> 

                          <input type='hidden' name='WORDhidden' value=''/> 
                          <input type='hidden' name='PDFhidden' value=''/>  

                          <input type='hidden' name='quaisCheckboxes' value=''/> 

                          {% if (end|int()) < (lenght|int()) %}
                            <button name='lastPageButton' type='submit' onclick='window.stop()'> >> </button>
                          {% endif %}
               </form>
          </div> 
         
         <div id="controlesDownload"> 
                  <span style='font-size: large; margin-right:10px'>WORD</span><input type="checkbox" name="WORDdownload" id='WORD' onclick='pressWord(this)'> 
                  <span style='font-size: large; margin-right:10px'>PDF</span><input type="checkbox" name="PDFdownload" id='PDF' onclick='pressPDF(this)'>   
                  <input type='hidden' id='downloadToken' name='downloadToken' value=''/>
                  <input type='hidden' id='NameDir' name='NameDir' value="{{NameDir|safe}}"/> 
                  <input type='hidden' id='rawQuery' name='rawQuery' value="{{rawQuery|safe}}"/> 
                  <input type='hidden' id='quaisCheckboxes' name='quaisCheckboxes' value=''/>
                  <input type='hidden' id='comFotos' name='comFotos' value="{{fotos}}"/> 
                 <button id='download' title='Selecione ao menos um registro para download' onclick="Download()"> DOWNLOAD </button> 
              <div id="myModal" class="modal">
                <div id="page-wrap">
                <div class="meter">
                  <span id='loading' style="width: 0%"></span>
                </div></div>
                <div id="caption">Carregando, aguarde...</div>
              </div>   
          </div>    
              </td> 
            </tr>      
      </table>

      {% for row in query %}
          <table>
            <tr> 
              <td id ='identificador'><b>{{ loop.index+start }}</b><br> 
                <input type="checkbox" name="checkbox" id="{{ row['cod'] }}" value="{{ row['cod'] }}" onchange="sumChecked(this)"></td>  
              {% if fotos != 'semFoto' %}   
                <td id='foto'>
                {% if row['fot1'] %}  
                  <img src= "{{ url_for('imageAudio', filename=row['fot1']) }} ">  
                {% else: %}
                  <span style="color:red"><b>Não há foto</b></span>
                {% endif %}
                </td> 
              {% endif %}
              <td>
               <table>
                  <tr>
                      <td id='first'> <b>ID Chamada:</b> {{ row['cod'] }} </td> 
                      <td> <b>Data:</b>  {{ row['dat_hor'] }} </td> 
                      <td> <b>Duração:</b> {{ row['dur'] }} </td>
                     <td> <b>Direção:</b>  
                         {% if row['direcao'] ==1 %} 
                             Entrada
                         {% elif row['direcao'] ==0 %}
                            Saída
                         {% endif %} </td>   
                  </tr>  
                  <tr>
                     <td id='first'> <b>Alvo:</b>  {{ row['nom'] }} ({{ row['apl'] }}) </td> 
                     <td> <b>Telefone:</b> ({{ row['ddd'] }}) {{ row['num'] }} </td>
                     <td> <b>IMEI:</b> {{ row['imei'] }} </td>
                     <td> <b>Interlocutor:</b> 
                           {{ row['num_lig'] }} 
                           {% if row['nome'] !=''%} 
                            <br/> ({{ row['nome'] }})
                           {% endif %} </td>
                  </tr>
                </table>                
                    <span id='first'>
                          <b>Transcrição:</b> {{ row['trs'] }} </span>  <br/> <br/> 
                  
                         <span id='first'>
                         <b>Sinopse:</b> {{ row['obs'] }} </span> <br/> <br/>

                           <span id='first'> 
                              <b>Áudio:</b> 
                             <audio id='player{{row["cod"]}}' onloadeddata="myOnLoadedData({{row['cod']}})" controls>
                                <source src="{{url_for('imageAudio', filename=row['path'])}}"  type="audio/wav">
                                {% if browser == 'ie' %} 
                                  <source src="{{url_for('imageMP3', filename=row['path'])}}"  type="audio/mpeg">
                                {% endif %}  
                             </audio>  
                              {% if not row['path'] %}
                                {% if row['memo'] %}
                                  <span style="color:red; padding-left:30px"><b> {{row['memo']}} </b><br></span>
                                {% else: %} 
                                <span style="color:red; padding-left:30px"><b> Áudio ou pasta do áudio possivelmente deletada ou movida</b></span>
                              {% endif %}
                            {% else %}
                                <span id='carregandoAudio{{row["cod"]}}' style="color:black; padding-left:20px"><b>Carregando ...</b></span>
                            {% endif %} 
                            </span>
                        </span> 
                </td>
            </tr>
          </table>
      {% endfor %}
    {% endif %}
    <br/>
    {% if QueriesPerPage >= 30 and lenght > 20 %} 
      <button style='float: right' onclick='document.body.scrollTop = document.documentElement.scrollTop = 0;'> Voltar para o Topo </button>
      <br/><br/>
    {% endif %}
            <span style='text-align: right'><h3>@ Wytron</h3></span>
      </div>
  </section>
</body>
</html>

